*.sublime-project
*.sublime-workspace
scripts/.screenrc
run_tests.log
host-syslog.log
scripts/test-def.conf
.tox
*.pyc
*.coverage
tests/integration/Reddwarf_Integration_Tests.egg-info/*
apidocs/target
scripts/.cache/
scripts/.cinderclient/
scripts/.mysql_history
scripts/.troveclient/
