# from https://github.com/openstack/trove-integration/blob/master/scripts/files/elements/ubuntu-guest/install.d/15-reddwarf-dep#L14
extras
oslo.config>=1.4.0.0a3
python-novaclient>=2.17.0
python-swiftclient>=2.2.0
python-cinderclient>=1.1.0
kombu>=2.4.7
six>=1.7.0
Babel>=1.3
python-heatclient>=0.2.9
passlib
Jinja2
oslo.messaging>=1.4.0.a3