# Paths inside the VM.
[ -z $SERVICE_HOST ] && SERVICE_HOST=localhost
[ -z $DEST ] && DEST=/opt/stack
[ -z $NETWORK_GATEWAY ] && NETWORK_GATEWAY=10.0.0.1
REDDWARF_SOURCE=$DEST/reddwarf
PATH_INTEGRATION_CONF="/tmp/integration"

# devstack is either a shared folder or is downloaded by reddwarf-ci install.
[ -z $PATH_DEVSTACK_SRC ] && PATH_DEVSTACK_SRC=~/devstack
PATH_DEVSTACK_OUTPUT=$DEST
REPO_DEVSTACK=git://github.com/openstack-dev/devstack.git

PATH_GLANCE=$DEST/glance

PATH_KEYSTONE=$DEST/keystone
PATH_KEYSTONECLIENT=$DEST/python-keystoneclient

# Path to Nova and python-novaclient (installed by devstack).
PATH_NOVA=$DEST/nova
PATH_PYTHON_NOVACLIENT=$DEST/python-novaclient

# Path to Swift and python-swiftclient (installed by devstack).
PATH_SWIFT=$DEST/swift
PATH_PYTHON_SWIFTCLIENT=$DEST/python-swiftclient

# reddwarf information
REPO_REDDWARF=https://github.com/stackforge/reddwarf.git
BRANCH_REDDWARF=master
PATH_REDDWARF=$DEST/reddwarf

# reddwarfclient information
REPO_REDDWARFCLIENT=https://github.com/stackforge/python-reddwarfclient.git
BRANCH_REDDWARFCLIENT=master
PATH_PYTHON_REDDWARFCLIENT=$DEST/python-reddwarfclient

# diskimage-builder information
REPO_DISKIMAGEBUILDER=https://github.com/stackforge/diskimage-builder.git
BRANCH_DISKIMAGEBUILDER=master
PATH_DISKIMAGEBUILDER=$DEST/diskimage-builder

# Openstack Github paths
OPENSTACK_GITHUB=git://github.com/openstack

PATH_ENV_CONF="$PATH_INTEGRATION_CONF/env.rc"

# Package repo directory
PACKAGES_DIR=/var/lib/packages/debian/
BUILD_DIR=/tmp/build/

# Passwords used by devstack.
MYSQL_PASSWORD=e1a2c042c828d3566d0a
RABBIT_PASSWORD=f7999d1955c5014aa32c
SERVICE_TOKEN=be19c524ddc92109a224
ADMIN_PASSWORD=3de4922d8b6ac5a1aad9
SERVICE_PASSWORD=7de4162d826bc5a11ad9

# Swift hash used by devstack.
SWIFT_HASH=12go358snjw24501
