# Paths inside the VM.
[ -z $SERVICE_HOST ] && SERVICE_HOST=`get_default_host_ip`
[ -z $DEST ] && DEST=/opt/stack
[ -z $NETWORK_GATEWAY ] && NETWORK_GATEWAY=10.0.0.1
[ -z $PATH_DEVSTACK_SRC ] && PATH_DEVSTACK_SRC=~/devstack
[ -z $TROVE_CONF_DIR ] && TROVE_CONF_DIR=/etc/trove

# Paths for various OpenStack components
PATH_DEVSTACK_OUTPUT=$DEST
PATH_NOVA=$DEST/nova
PATH_KEYSTONE=$DEST/keystone
PATH_GLANCE=$DEST/glance
PATH_SWIFT=$DEST/swift
PATH_TROVE=$DEST/trove
PATH_PYTHON_NOVACLIENT=$DEST/python-novaclient
PATH_KEYSTONECLIENT=$DEST/python-keystoneclient
PATH_PYTHON_SWIFTCLIENT=$DEST/python-swiftclient
PATH_PYTHON_TROVECLIENT=$DEST/python-troveclient
PATH_DISKIMAGEBUILDER=$DEST/diskimage-builder
PATH_TRIPLEO_ELEMENTS=$DEST/tripleo-image-elements

# Devstack and OpenStack git repo source path
REPO_DEVSTACK=git://git.openstack.org/openstack-dev/devstack.git
OPENSTACK_GITSOURCE=git://git.openstack.org/openstack

# Destination for working data
DATA_DIR=${DEST}/data

# Cinder Volume Group Name
VOLUME_GROUP=${VOLUME_GROUP:-stack-volumes}
VOLUME_BACKING_FILE=${VOLUME_BACKING_FILE:-${DATA_DIR}/${VOLUME_GROUP}-backing-file}

# Passwords used by devstack.
MYSQL_PASSWORD=e1a2c042c828d3566d0a
RABBIT_PASSWORD=f7999d1955c5014aa32c
SERVICE_TOKEN=be19c524ddc92109a224
ADMIN_PASSWORD=3de4922d8b6ac5a1aad9
SERVICE_PASSWORD=7de4162d826bc5a11ad9

# Swift hash used by devstack.
SWIFT_HASH=12go358snjw24501

DISTRO=ubuntu
#DISTRO=fedora
